# Ignore le dossier de l'environnement virtuel
venv/

#Ignore le fichier CIFAR
cifar-10-python.tar.gz

# Fichiers Python compilés
__pycache__/
*.pyc

# Fichiers temporaires
*.log
*.tmp

# Fichiers système
.DS_Store
